#{extends 'main.html' /}
#{set title:'Admin' /}
#{menu id:"admin"/}

<section class="ui segment">
    <div class="ui relaxed divided list">
    #{list items: members, as:'member'}
        <form class="ui form item">
            <div class="inline fields" style="margin: 0.5em 0;">
                <i class="large middle aligned icon" style="width: 1.8em;"></i>
                <div class="content" style="flex-grow: 1;">
                    <a class="header" href="admin/members/${member.getEmail()}">${member.getName()}</a>
                    <div class="description">${member.getAssessments().size()} assessment(s)</div>
                </div>
                <a class="ui compact basic negative icon button" href="/admin/deletemember/${member.getId()}" title="Delete this member"><i class="trash icon"></i></a>
            </div>
        </form>
    #{/list}
    </div>
</section>





