#{extends 'main.html' /}
#{set title:'Play Gym' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">



    <div class="ui two column middle aligned grid basic segment">
        <div class="column">
            <h1 class="ui header">
                BMI Tracker
            </h1>
            <p>
                Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!
            </p>
        </div>
        <div class="column">
            <img class="ui image" src="/public/images/playgym.jpg">
        </div>
    </div>
<!--
    <table class="ui fixed table">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going! </td>
        </tr>
        </tbody>
    </table>

-->

<!--
    <p>
    Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!
  </p>
   -->
</section>
